include ../includes/icon

header.header.container
  a.header__logo(href='')
    +icon('logo')
    
  nav(role='navigation')
    a.header__link.bold(href='#') Home
    a.header__link.bold(href='#') About